
<%= render 'nav'%>
<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">

    <div class="col-sm-6"> 
        <div id="map"></div>
    </div>

    <div class="col-sm-6"> 

        <div>
            <h1>Right Now at <%= @l.address %></h1>
            <p class="index-weather"><canvas id="icon" width="60" height="60"></canvas> <%= (@current_weather['temperature']).to_i %>°</p>
            <p class="index-sumary"><%= @current_weather['summary'] %> - Feels like: <%= (@current_weather['apparentTemperature']).to_i %>°</p>
        </div>

        <div>

          <p>Find out how the weather looks like anywhere, by typing any location's postal code</p>

          <%= form_for(@location) do |f| %>
            <% if @location.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

                <ul>
                <% @location.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :postal_code %><br>
              <%= f.text_field :postal_code %>
            </div>
            <div class="actions">
              <%= f.submit 'Search', :class => "btn btn-info btn-sky" %>
            </div>
          <% end %>
        </div>

    </div>
    
  </div>
</div>





<div class="container">
  <div class="row">

    <h4 class="sh">Search History </h4>
    
        <% @locations.each do |location| %>
          <div class="col-sm-4"> 
              <div class="location">
                <%= image_tag("map.png", class: "map_icon") %>
                <p class="pc">Postal Code: <%= location.postal_code %></p> 
                <%= link_to 'Show', location, :class => 'btn btn-info show-pc' %>   
              </div>  
          </div>  
            
        <% end %>
    
  </div>
</div>

<script type="text/javascript">
  var skycons = new Skycons({"color": "black"});

  skycons.add("icon", Skycons.<%= @current_weather['icon'].upcase.tr("-", "_") %>);

  skycons.play();
</script>



<script type="text/javascript">
  function initMap() {
  var myLatLng = {lat: <%= @l.latitude %>, lng: <%= @l.longitude %>};
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    scrollwheel: true,
    zoom: 6
  });
  // Create a marker and set its position.
  var marker = new google.maps.Marker({
    map: map,
    position: myLatLng,
    title: 'Location'
  });
}

</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByfnWFF9BqHtoQVkaDksVG0z8z4q31rVg&callback=initMap"
    async defer></script>




