<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      .progress {
        display: inline-block;
        margin: 0px !important;
      }

      .inline{
        display: inline-block;
      }
</style>

<div class="container">

  <div class="row">

    <div class="col-md-6"> 
        <div id="map"></div>
    </div>

    <div class="col-md-6"> 

        <div>
            <h1>Right Now</h1>
            <p><canvas id="icon" width="128" height="128"></canvas> <%= @current_weather['temperature'] %></p>
            <p><%= @current_weather['summary'] %> - Feels like: <%= @current_weather['apparentTemperature'] %></p>
        </div>

    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
          <h3>Forecast</h3>
          <% i = 0%>
          <% @forecast.each do |x| %>

          <% if x == @forecast[0] %>
              <h4 class="inline">Today</h4>
          <% else%>
              <h4 class="inline"><%= Time.at(x['time']).strftime('%A') %> </h4> 
          <% end%>
          <p class="inline"><canvas id="icon<%=i%>" width="32" height="32"></p>
          <p class="inline"><%= x['summary'] %></p>
          
          <p class="inline"><%= x['temperatureMin'] %>°</p>  
            <div class="progress" style="width: <%= 50 + x['temperatureMax'] - x['temperatureMin'] %>px">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
               aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
          <p class="inline">  <%= x['temperatureMax'] %>° </p>
          <br>

          <% i += 1%>
          <% end %> 
        </div>  
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1>Historic Data </h1>

      <div id="h" style="height: 400px;""></div>
      
    </div>
    

  </div>
  

</div>

  


<h2><%= @temporal %></h2>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>





<!-- <script type="text/javascript">
  function initMap() {
  var myLatLng = {lat: <%= @location.latitude %>, lng: <%= @location.longitude %>};

  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    scrollwheel: false,
    zoom: 4
  });

  // Create a marker and set its position.
  var marker = new google.maps.Marker({
    map: map,
    position: myLatLng,
    title: 'Location'
  });
}
</script> -->

<script>
  var skycons = new Skycons({"color": "black"});

  skycons.add("icon", Skycons.<%= @current_weather['icon'].upcase.tr("-", "_") %>);

  skycons.play();


</script>

<script type="text/javascript">
  
  var $forecasts =  Array.new;

  var skycons = new Skycons({"color": "black"});

  <% i = 0 %>
  <% @forecast.each do |x| %> 
   


    skycons.add( "icon<%=i%>", Skycons.<%= x['icon'].upcase.tr("-", "_")  %>) ;
    skycons.play();
    <% i += 1 %>

  <% end %>
</script>

<script type="text/javascript">
    
    var id = { 'id': <%= @location.id %>};

  
    $(document).ready(function(){
       // we define and invoke a function
       (function(){
         $.ajax({
            type:'GET',
            cache: false,
            url:'/locations/<%= @location.id %>/call',
            data: id,
            success: function(html){
              $("#h").append(html);
            } 
          });;
       })();
       console.log(id);
    });

    


</script>







<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByfnWFF9BqHtoQVkaDksVG0z8z4q31rVg&callback=initMap"
    async defer></script> -->

